.add-new-test-form-container-list-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-new-test-form-container-list-item-columns-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.add-new-test-form-container-list-item-column-1,
.add-new-test-form-container-list-item-column-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.add-new-test-form-container-list-item-column-1-header {
    display: flex;
}

.add-new-test-form-container-list-item-column-1-header,
.add-new-test-form-container-list-item-column-2-header {
    font-size: 18px;
    font-weight: 300;
}

.add-new-test-form-container-list-item-column-1-input,
.add-new-test-form-container-list-item-column-2-input {
    width: 100%;
    margin-top: 15px;
    max-width: 425px;
    height: 162px;
    border: 2px solid #D5D5D5;
    border-radius: 14px;
    padding-inline: 10px;
    font-size: 16px;
    padding: 1em;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.add-new-test-form-container-list-item-column-1-body,
.add-new-test-form-container-list-item-column-2-body {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
}

.add-new-test-form-container-list-item-column-1-body-checkbox,
.add-new-test-form-container-list-item-column-2-body-checkbox {
    width: 21px;
    height: 21px;
    border-color: #A3A3A3;
    color: #004DFF;
}

.add-new-test-form-container-list-item-column-1-body-text,
.add-new-test-form-container-list-item-column-2-body-text {
    font-size: 16px;
    font-weight: 300;
}

.add-new-test-form-container-list-item-column-2-body-text-color {
    color: #004DFF

}

.add-new-test-form-container-list-item-button {
    margin-top: 33px;
    background: transparent;
    border: 2px solid #EF3826;
    color: #EF3826;
    border-radius: 12px;
    padding: 14px 31px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 65px;
}