.card-list {
    margin-top: 30px;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.courses-page-content-layout-header {
    margin-top: 25%;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}


@media (max-width: 1000px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
