.test-page-content-form-question-component {
    display: flex;
    flex-direction: column;
}

.test-page-content-form-question-title {
    font-size: 18px;
}

.test-page-content-form-question-body-container {
    display: flex;
    gap: 4vw;
    justify-content: space-between;
}

.test-page-content-form-question-body-title {
    margin-top: 10px;
    font-size: 18px;
}

.test-page-content-form-question-body-icon-container {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    gap: 0.15vw;
    color: #5a8cff;
    cursor: pointer;
}

.test-page-content-form-question-body-icon {
    background-image: url("../../../public/img/icon_info.svg");
    width: 22px;
    height: 22px;
}

.test-page-content-form-question-input {
    margin-top: 26px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid #D5D5D5;
    padding-inline: 10px;
    font-size: 16px;
    background-color: #F5F6FA;
}

& .MuiTooltip-tooltip	{
    font-size: 16px;
    background-color: #4d83f8;
}
