.content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
    background: #F5F6FA;
}

.account-page-content {
    padding: 33px;
}

.account-page-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.account-page-title {
    font-size: 32px;
    font-weight: bold;
}

.account-page-button-logout {
    width: 148px;
    height: 40px;
    border-radius: 14px;
    color: #5088FF;
    border: 1px solid #5088FF;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
}

.account-page-content-form {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    background: white;
    height: 744px;
    border-radius: 14px;
    padding: 60px 10vw;
}

.account-page-content-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.account-page-content-form-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-page-content-img {
    background-image: url(../../public/img/photo.svg);
    border-radius: 50px;
    overflow: hidden;
    background-size: 100px 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FBFCFF;
    width: 80px;
    height: 80px;
}

.account-page-content-img-text {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #4379EE;
}

.account-page-content-form-all-rows {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width:100%;
}

.account-page-content-form-row-line-1,
.account-page-content-form-row-line-2,
.account-page-content-form-row-line-3  {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
}

.account-page-content-form-row-line-1-item-1,
.account-page-content-form-row-line-2-item-1,
.account-page-content-form-row-line-3-item-1
{
    width: 100%;
    max-width: 360px;
    font-size: 18px;
    font-weight: 500;
    color: #ADADAD;
}

.account-page-content-form-row-line-1-item-1-par,
.account-page-content-form-row-line-2-item-1-par,
.account-page-content-form-row-line-3-item-1-par {
    display: flex;
    margin-left: 0;
    margin-bottom: 15px;
}

.account-page-content-form-row-line-1-item-1-input,
.account-page-content-form-row-line-2-item-1-input,
.account-page-content-form-row-line-3-item-1-input {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    border-color: #D8D8D8;
    border-style: solid;
    padding-inline: 10px;
    font-size: 16px;
    font-weight: 500;
}

.account-page-content-form-row-line-1-item-2,
.account-page-content-form-row-line-2-item-2,
.account-page-content-form-row-line-3-item-2 {
    width: 100%;
    max-width: 360px;
    font-size: 18px;
    font-weight: 500;
    color: #ADADAD;
}

.account-page-content-form-row-line-1-item-2-par,
.account-page-content-form-row-line-2-item-2-par,
.account-page-content-form-row-line-3-item-2-par{
    display: flex;
    margin-left: 0;
    margin-bottom: 15px;
}

.account-page-content-form-row-line-1-item-2-input,
.account-page-content-form-row-line-2-item-2-input,
.account-page-content-form-row-line-3-item-2-input{
    width: 100%;
    height: 52px;
    border-radius: 8px;
    border-color: #D8D8D8;
    border-style: solid;
    padding-inline: 10px;
    font-size: 16px;
    font-weight: 500;
}


.account-page-content-form-row-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-page-content-form-row-button {
    margin-top: 40px;
    background: #4880FF;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
    width: 274px;
    height: 56px;
    border: none;
}

.account-page-content-form-row-button:hover {
    background-color: #4880FF;
}

.account-page-content-form-row-line-1-item-1-input, .account-page-content-form-row-line-1-item-2-input, .account-page-content-form-row-line-2-item-1-input, .account-page-content-form-row-line-2-item-2-input, .account-page-content-form-row-line-3-item-1-input, .account-page-content-form-row-line-3-item-2-par{
    &:hover,
    &:focus,
    &:active {
        border-color: #608ffd;
    }
}
