.content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
    background: #F5F6FA;
}

.courses-page-content {
    padding: 33px;
}

.courses-page-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.courses-page-title {
    font-size: 32px;
    font-weight: bold;
}

.courses-page-button-add-course {
    width: 148px;
    height: 40px;
    border-radius: 14px;
    color: #5088FF;
    border: 1px solid #5088FF;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
}

.courses-page-content-layout-list {
    margin-top: 30px;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.courses-page-content-layout-card {
    background-color: white;
    border-radius: 18px;
    overflow: hidden;
    height: fit-content;
}

.courses-page-content-layout-img {
    display: block;
    content: url("../../public/img/course_image.jpg");
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.courses-page-content-layout-body {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.courses-page-content-layout-header {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.courses-page-content-layout-button {
    margin-top: 0;
    padding: 10px 44px;
    background-color: #5088FF;
    color: white;
    border-radius: 14px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    max-width: 150px;
}


@media (max-width: 1000px) {
    .courses-page-content-layout-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
