.content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
    background: #F5F6FA;
}

.courses-page-content {
    padding: 33px;
}


.courses-page-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.courses-page-title {
    font-size: 32px;
    font-weight: bold;
}

.courses-page-button-add-course {
    width: 148px;
    height: 40px;
    border-radius: 14px;
    color: #5088FF;
    border: 1px solid #5088FF;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
}