.test-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
    background: #F5F6FA;
}

.test-page-content {
    padding: 33px;
    height: fit-content;
}

.test-page-content-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test-page-content-header {
    font-size: 32px;
    font-weight: bold;
}

.test-page-content-header-mark {
    font-size: 22px;
    font-weight: bold;
    color: #5a8cff;
}

.test-page-content-form {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    background: white;
    border-radius: 14px;
    padding: 60px 10vw;
    align-items: center;
}

.test-page-content-form-wrapper-test {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.test-page-content-form-header {
    font-size: 32px;
    font-weight: bold;
}

.test-page-content-form-title-wrapper-1 {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    gap: 10px;
}

.test-page-content-form-title-1 {
    font-size: 18px;
}

.test-page-content-form-text-1 {
    font-size: 18px;
}

.test-page-content-form-title-wrapper-2 {
    display: flex;
    flex-direction: column;
    margin-top: 39px;
    gap: 10px;
}

.test-page-content-form-title-2 {
    font-size: 18px;
}

.test-page-content-form-text-2 {
    font-size: 18px;
}

.test-page-content-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-page-content-button {
    margin-top: 70px;
    background: #4880FF;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
    width: 274px;
    height: 56px;
    border: none;
}

.test-page-content-button:hover {
    background-color: #4880FF;
}