.side-menu {
    height: 100%;
    background: white;
    width: 240px;
    display: flex;
    flex-direction: column;
}

.menu-logo-container {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 15px;
    cursor: pointer;
}

.menu-logo {
    content: url(../../../public/img/site_logo.svg);
    width: 185px;
    height: 50px;
}

.menu-list-container {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}